<a href="https://colab.research.google.com/github/NeonHalo17/EDA/blob/main/EDA_DA_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#21BCE0359
#EDA

Loading Dataset

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Males.csv")

df.head()

,rownames,nr,year,school,exper,union,ethn,maried,health,wage,industry,occupation,residence
0,1,13,1980,14,1,no,other,no,no,1.197540,Business_and_Repair_Service,Service_Workers,north_east
1,2,13,1981,14,2,yes,other,no,no,1.853060,Personal_Service,Service_Workers,north_east
2,3,13,1982,14,3,no,other,no,no,1.344462,Business_and_Repair_Service,Service_Workers,north_east
3,4,13,1983,14,4,no,other,no,no,1.433213,Business_and_Repair_Service,Service_Workers,north_east
4,5,13,1984,14,5,no,other,no,no,1.568125,Personal_Service,"Craftsmen, Foremen_and_kindred",north_east

Dataset Dimensions

In [3]:
df.shape

(4360, 13)

Dataset Summary

In [4]:
df.describe()

,rownames,nr,year,school,exper,wage
count,4360.000000,4360.000000,4360.000000,4360.000000,4360.000000,4360.000000
mean,2180.500000,5262.058716,1983.500000,11.766972,6.514679,1.649147
std,1258.767916,3496.149815,2.291551,1.746181,2.825873,0.532609
min,1.000000,13.000000,1980.000000,3.000000,0.000000,-3.579079
25%,1090.750000,2329.000000,1981.750000,11.000000,4.000000,1.350717
50%,2180.500000,4569.000000,1983.500000,12.000000,6.000000,1.671143
75%,3270.250000,8406.000000,1985.250000,12.000000,9.000000,1.991086
max,4360.000000,12548.000000,1987.000000,16.000000,18.000000,4.051860

Data types and null values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4360 entries, 0 to 4359
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rownames    4360 non-null   int64
 1   nr          4360 non-null   int64
 2   year        4360 non-null   int64
 3   school      4360 non-null   int64
 4   exper       4360 non-null   int64
 5   union       4360 non-null   object
 6   ethn        4360 non-null   object
 7   maried      4360 non-null   object
 8   health      4360 non-null   object
 9   wage        4360 non-null   float64
 10  industry    4360 non-null   object
 11  occupation  4360 non-null   object
 12  residence   3115 non-null   object
dtypes: float64(1), int64(5), object(7)
memory usage: 442.9+ KB

In [6]:
df.isnull().sum()

rownames         0
nr               0
year             0
school           0
exper            0
union            0
ethn             0
maried           0
health           0
wage             0
industry         0
occupation       0
residence     1245
dtype: int64

Data Handling and Data Cleaning

In [8]:
null_data = df.isnull().mean() * 100
print(null_data[null_data > 0])

residence    28.555046
dtype: float64